body{
    box-sizing: border-box;
    background-color: #EDF1FF;
    margin: 0px;
}
.Parchesina{
    font-size: 4em;
    color: #102A50;
}
.ParchesinaS{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}
.Logbutton{
    background-color: #102A50;
    color: #EDF1FF;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    border: 2px solid #102A50;
}
.Logbutton:hover{
    background-color: #EDF1FF;
    color: #102A50;
}
.LogbuttonParent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.Register{
    display: none;
    transition: all 0.5s;
}
.Login{
    display: none;
    transition: all 0.5s;
}

.Img{
    max-width: 500px;
    width: 100%;
    height: auto;
}
.Form{
    animation: Appear 1s forwards;
    transition: all 0.5s;
    margin-top: .5em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    place-items: center;
    text-align: center;
    background-color: #69ADD8;
    padding: 2.1em; 
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1em;
}

@keyframes Appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.Form input{
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 2px solid #245fb6;
    font-size: 1.2em;
    width: 90%;
}
.Navigator{
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
    background-color: #102A50;
    bottom: 0;
    height: 10vh;
    column-gap: 2em;
    padding: 1em;
}
.Navigator__Items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDF1FF;
    font-size: 1.5em;
    cursor: pointer;
    border: 2px solid #EDF1FF;
    border-radius: .7em;
}
.PrincipalSection{
    margin: 1em;
    padding: 2em;
    background-color: white;
    border-radius: 3em;
    text-align: center;
}
.Sangre{
    text-align: center;
}
.Sangre:nth-child(4)::after{
    content: 'tu Sangre';
    color: red;

}
#uwu{
    font-size: xx-large;
}
.Sliders{
    margin-top: 4.9em;
    margin: 1em;
}
.barra{
    height: 2vh;
    border-radius: .5em;
}
.Proxima1:nth-child(1) .barra{
    background: linear-gradient(to right, #102A50 95%, #69ADD8);
}  
.Proxima2:nth-child(2) .barra{
    background: linear-gradient(to right, #102A50 90%, #69ADD8);
}  
.Proxima3:nth-child(3) .barra{
    background: linear-gradient(to right, #102A50 10%, #69ADD8 80%);
}  

.texto{
    font-weight: bold;
    font-size: x-large;
}